<!DOCTYPE html>
<html>
  <head>
    <title>Admin Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome Administrator</h1>
      <br>
      <h2>Create New Book</h2>
      <form action ="" method = "post"> 
        <input type="text" placeholder="Title of Book" name="title" value=""><br>
        <input type="text" placeholder="Author" name="author" value=""><br>
        <input type="text" placeholder="Category" name="category" value=""><br>
        <input class="btn btn-default" type="submit" value="Create">
      </form>      		
    </div>
  </body>
</html>